name: Deploy to VPS

on:
  push:
    branches:
      - main  # Ou 'master' selon votre branche principale

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        script: |
          cd ~/apps/planify
          git pull origin main
          source ~/.nvm/nvm.sh
          nvm use 20
          npm install
          npm run build
          pm2 restart planify
          pm2 save 
